.App {
  text-align: left;
}

.App-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  margin: 1em;
}

.App-main input {
  font-size: 1em;
  width: 3.5em;
}

.App-main button {
  height: 1.8em;
  font-size: 0.8em;
  /*width: 100px;*/
}

.App-main label {
  width: 50px;
}
.video-container {
  /*display:block;*/
  /*margin-left:auto;*/
  /*margin-right:auto;*/
  /*width:100%;*/
  /*min-height: 315px;*/
  /*max-width: 560px;*/
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


h1, h2 {
  color: #6daab9;
}
