body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

@media (min-width: 768px) {
  body {
    max-width: 700px;
    margin: 0 auto;
  }
}

@media (min-width: 950px) {
  body {
    max-width: 900px;
    margin: 0 auto;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
